/* .justify-content-end{ */
    /* flex: auto; */
/* } */

body{
    background-image: url("./images/bgimage.jpeg");
background-size: cover;
}
.card{
    border: plum 1px solid;
    padding: 10px;
} 

.row{ 
    padding: 8px;
}

.container{
    padding: 5%;
}



@media screen and (max-width: 768px) {
    .row {
      display:block;
      float:none;
      
    }}

    .card{
        display:block;
        float:none;
    }